
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<ul>
    <li>
        <a href="Category/Create">Create new Category</a>
    </li>
    <li>
        <a href="Category/ViewAll">View All</a>
    </li>
</ul>
